.background {
    background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fpocopsonvetstation.com%2Fhome-vet-vs-standard-vet%2F&psig=AOvVaw0XAa320Qs1v1vDkVRAVcFv&ust=1693152047145000&source=images&cd=vfe&opi=89978449&ved=0CA8QjRxqFwoTCNitqoTZ-oADFQAAAAAdAAAAABAE');
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  /* Add any other CSS styling for your components */
  